body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nauti-map {
  width: 1000px;
  height: 800px;
  background-color: pink;
}

.yNHHyP-marker-view img {
  height: 35px;
}